* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.title {
    background-color: rgba(231, 163, 4, 0.99);
    height: 75px;
    color: rgba(251, 250, 248, 0.99);
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 15px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

.search-container {
    background-color: black;
    background-image: url(img/Снимок\ экрана\ 2022-11-22\ в\ 09.55.12.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
    text-align: center;
}

.input-search {
    border-radius: 30px;
    padding: 10px;
    opacity: 0.6; 
    width: 500px;
    box-sizing: border-box;
    border: none;
    margin-top: 15px;
    font-size: 14px;
    font-weight: 400;
}

.input-search:active, :focus {
    outline: 0;
    outline-offset: 0;
    opacity: 1;
}

.btn-search-icon {
    transform: translate(-40px, 7px);
    width: 1.5%;
    cursor: pointer;
}

.wrapper-results, .list-movies {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: -350px 20px 0 20px;
    gap: 25px;
}

.poster-to-movie {
    width: 150px;
    margin-top: 15px;
}

.movie-el {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.movies-appearance {
    width: 225px;
    height: 315px;
    background-color: black;
    color: white;
    position: relative;
    display: inline-block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
}

.movie-title {
    color: rgba(231, 163, 4, 0.99);
    font-weight: 100;
    position: absolute;
    bottom: 55px;
}

.btn-for-details {
    border-radius: 25px;
    padding: 10px 25px; 
    background-color: rgba(231, 163, 4, 0.99);
    border: none;
    color: white;
    font-weight: 700;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
}

.btn-for-details:hover {
    filter: brightness(115%);
}

.pages {
    position: absolute;
    color: rgba(231, 163, 4, 0.99);
    bottom: -70px;
    cursor: pointer;
    gap: 10px;
    display: flex;
    font-weight: 700;
    left: 635px;
}

.page:hover {
    filter: brightness(115%);
}

.next-page, .previous-page {
    border-radius: 15px;
    padding: 5px 25px;
    background-color: rgba(231, 163, 4, 0.99);
    border: none;
    color: white;
    font-weight: 700;
    cursor: pointer;
    
}

.next-page:hover, .previous-page:hover {
    filter: brightness(115%);
}

.movies-details {
    position: absolute;
    color: white;
    background-color: black;
    background-image: url(img/Снимок\ экрана\ 2022-11-22\ в\ 09.55.12.png);
    padding-left: 10px;
}













