* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
} 

.intro {
    color: navy;
    padding: 100px;
}

.city {
    font-size: 14px;
    font-weight: bold;
    margin-top: 0;
}

.purpose {
    letter-spacing: 1px;
}